<div style="display: flex">
    <child-quarterly-timespent [datasets]="datasets"></child-quarterly-timespent>
    <child-quarterly-timespent [datasets]="datasets"></child-quarterly-timespent>
    <child-quarterly-timespent [datasets]="datasets"></child-quarterly-timespent>
</div>