<div style="display: flex">
    <child-annual-timespent [datasets]="datasets"></child-annual-timespent>
    <child-annual-timespent [datasets]="datasets"></child-annual-timespent>
    <child-annual-timespent [datasets]="datasets"></child-annual-timespent>
</div>