<svg class="chart" width="420" height="420">
    <g transform="translate(0, 40) scale(1, -1)">
        <!-- value:height, y2=y1+height1 -->

        <line x1="30" y1="-301" x2="310" y2="-301" style="stroke:#3C3C3C;stroke-width:2" />

        <line stroke-dasharray="0.5, 2" x1="30" y1="-240" x2="310" y2="-240" style="stroke:#3C3C3C; stroke-width: 1"></line>
        <line stroke-dasharray="0.5, 2" x1="30" y1="-160" x2="310" y2="-150" style="stroke:#3C3C3C; stroke-width: 1"></line>
        <line stroke-dasharray="0.5, 2" x1="30" y1="-80"  x2="310" y2="-80"  style="stroke:#3C3C3C; stroke-width: 1"></line>
        <line stroke-dasharray="0.5, 2" x1="30" y1="0"    x2="310" y2="0"    style="stroke:#3C3C3C; stroke-width: 1"></line>

        <rect width="200" height="40"  x="70" y="-300" fill="url(#gradient)" style="fill: #D7F2F2"></rect>
        <rect width="200" height="40"  x="70" y="-260" fill="url(#gradient)" style="fill: #EBF9FE"></rect>
        <rect width="200" height="120" x="70" y="-220" fill="url(#gradient)" style="fill: #A5B4C6"></rect>

        <!-- value:y1,y2;  -->
        <line x1="30" y1="-60" x2="310" y2="-60" style="stroke:#FFBDC9;stroke-width:2" />
    </g>
</svg>